<h1>Crear solicitud.</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Crear", :class=>"boton" %>
<% end %>



<br/><br/>
<div class="derecha">
      <%= link_to image_tag("home.png",:border => 0 ) +'Inicio  ', :controller=>'usuario', :action => 'welcome' %>
</div>
