<h2>Reporte para variables acumuladas.</h2>

<h4>Seleccione la variable sobre la cual desea conocer la acumulación de mediciones.</h4>

<% form_tag :action => "generar_acumulados" do %>
      <p><label for="variable_hidroclimatica_nombre_hc">Variable hidroclimática:</label><br/>
      <%= select("nombre_var", nil, @variables) %>
      <%= submit_tag "Generar reporte", :class=> "boton" %></p>
	  <br/>
<% end %>