<%= error_messages_for 'estado' %>

<!--[form:estado]-->
<p><label for="estado_nombre">* Nombre: </label><br/>
<%= text_field 'estado', 'nombre', options = {:size => "30", :maxlength => "40", :class=>"textfield"} %></p>
<!--[eoform:estado]-->

<script type="text/javascript">
    var field1 = new LiveValidation('estado_nombre', {onlyOnSubmit: true});
    field1.add(Validate.Presence);        
</script>
