<h1>Crear requerimiento.</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag  "Crear", :class=>"boton" %>
<% end %>

<br/><br/>
<div class="derecha">
      <%= link_to image_tag("back4.png",:border => 0 ) +'Regresar  ', :action => 'list' %>
      <%= link_to image_tag("home.png",:border => 0 ) +'Inicio  ', :controller=>'usuario', :action => 'welcome' %>
</div>

