/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Elements */

body {
	margin: 20px 0;
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #A1A1A1;
}

p, ol, ul {
	text-align: justify;
}

strong {
	font-weight: bold;
	color: #808080;
}

a {
	color: #001582;
        text-decoration: none;
}


a:hover {
	text-decoration: none;
	color: #2582A4;
}

.bottom {
	display: block;
	margin-bottom: 0;
	padding-bottom: 10px;
	background: url(/images/img08.gif) no-repeat left bottom; 
}

.image {
	float: left;
	margin: 3px 0 0 0;
	padding: 0;
}

.indent {
	margin-left: 125px;
}

/* Header */

#header {
	width: 928px;
	height: 20px;
	margin: 0 auto;
	background: #001582;
	border-bottom: 2px solid #FFFFFF;
	border-top: 10px solid #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	width: 910px;
	height: 37px;
	margin: 0;
	padding: 0 0 0 10px;
	list-style: none;
	background: url(/images/img01.gif) repeat-x;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: right;
	height: 27px;
	padding: 10px 15px 0px 15px;
	text-transform: lowercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background: #A4B74C url(images/img04.gif) repeat-x;
}


/* Content */

#content {
	width: 928px;
	margin: 0 auto;
}


#colOne {
	float: left;
	width: 238px;
	margin: -10px;	padding: 0; 
	display: inline;
/* background: url(/images/img05.gif) repeat-x;
*/
}

#colOne h3 {
	padding: 0 20px;
}

#colOne h1 {
	font-size: 12px;
	font-weight: bold;
	color: #5d5f81;
	padding: 0 10px;
}

#colOne ul {
	margin-left: 0;
	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
}

#colOne li {
	padding: 0px 0;
	border-top: 1px solid #EFEFEF;
}

#colOne li.first {
	border: none;
}


#colOne ul.sidemenu {
	list-style:none;
	margin:0px 0 0px 0px;
	padding:0;		
}
#colOne ul.sidemenu li {
	margin-bottom:0px;
	border: 1px solid #f2f2f2;
}
#colOne ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #333;	
	text-decoration:none;	
	padding:0px 0px 0px 0px;
	background: #f2f2f2;
	border-left:0px solid #CCC;		
	min-height:0px;
}


#colTwo {
	float: right;
	width: 617px;
	padding: 30px 40px 0 30px;
	background: url(/images/img09.gif) repeat-x;
}


#colTwo h1 {
    color: #3B5998;	
}


#colTwo h2 {
	margin-top: 0;
	font-size: 15px;
	color: #7159D3;
}

#colTwo h3 {
        padding-top: 4px;
	margin-bottom: 0;
        color: #787878;
        font-size: 10px;
}

#colTwo h4 {
	margin-top: 0;
	font-size: 33px;
	font-weight: normal;
        color: #001582;
        padding-left: 8px;
}

#colTwo h4i {
	margin-top: 0;
	font-size: 12px;
	font-weight: normal;
        color: #000000;
        padding-left: 8px;
}

#colTwo h5 {
    color: #979797;
    font-weight: normal;
    position: relative;
    top: -12px;
    padding-left: 10px;
}

#colTwo h6 {
    font-size: 9px;
    color: #000000;
}



#colTwo .bottom {
	margin: 0 0 20px -20px;
	padding: 0 0 20px 20px;
}

/* Logo */

#logo {
	height: 150px;
	background: url(/images/img06.gif) no-repeat;
}

#logo h1, #logo h2, #logo a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	color: #FFFFFF;
}

#logo h1 {
	padding-top: 25px;
	font-size: 30px;
	text-decoration: bold;
	
}

#logo h2 {
	margin-top: -2px;
	font-size: 8px;
}

/* Footer */

#footer {
	clear: both;
	width: 928px;
	margin: 0 auto;
	padding-top: 40px;
}

#footer p {
	margin: 0;
	text-align: center;
}

/* additional classes */
.clear { clear: both; }
.green {color: #9EC630; }
.gray  {color: #7F7F7F; }
.blue  {color: #171ab9; }



/*Agregados -------*/

/* sidebar */

#colOne ul.sidemenu {
	list-style:none;
	margin:10px 0 10px 9px;
	padding:0;		
}
#colOne ul.sidemenu li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}
#colOne ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #171ab9;	
	text-decoration:none;	
	padding:2px 5px 2px 10px;
	background: #f4f4f4;
	border-left:4px solid #CCC;	
	min-height:18px;
}


#colOne ul.sidemenu a:hover {
	padding:2px 5px 2px 10px;
	background: #f2f2f2;
	color: #8269e5;
	border-left:4px solid #6a9af4;
}



/* CSS asociado a la validacion  */

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}

    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}


/* Fondos para las entradas tbody de las tablas. */
.list-line-even {
    background: #ffffff;
}

.list-line-odd {
    background:  #e0f8f8;  
}


/* Estilos para tablas de error */
.tablaErrores tr.list-line-odd {
    background:  #B5E765;  
    color: #5B5B5B;
}

.tablaErrores tr.list-line-even {
    background:  #e0f8f8;  
    color: #5B5B5B;
}



/* Boton de busquedas  */
input.search {
    background-color:#778877;
    border:1px solid #C3D9FF;
    margin:0pt;
    padding:2px;
    color: #FFFFFF;
}


/* Sombra para los campos de los formularios (creditos: liveValidation.com)  */
input.textfield, textarea, select {
    background:#FFFFFF url(/images/inputBg.gif) no-repeat scroll left top;
    border:1px solid #AAAAAA;
    margin-top:2px;
    padding:2px;
}

input:hover, textarea:hover, select:hover {
    border:1px solid #888888;
}


/* Lupa sobre los campos de busqueda. */
.a-img {
    margin:0px 0px -50px -8px;
    position:absolute;
}



/* Fondo para las cabeceras de las tablas. */
.tabla {
    margin:0 auto 0 auto;
    text-align:center;
}

.tabla th {
    padding: 5px 15px 5px 15px;
    background-color: #5EB2CF;
    font-size: 12px;
    color: #FFFFFF;
}


/* Clase que debe asignarse a la columna cuya cabecera contiene el spin. */
.tabla th.spin  {
    background-color: #FFFFFF;
}


/* Definicion de la letra para las cabeceras. */
.tabla th a:link  {
    font-size: 12px;
    color: #FFFFFF;
    TEXT-DECORATION: none;  
}


/* Alineacion y letras para el cuerpo de las tablas. */
.tabla td  {
    text-align: center;
    font-size: 10px;
    color: #000000;
    padding: 2px 12px 2px 12px;
}





/* Boton general  */
input.boton {
    background-color:#3B5998;
    border:1px solid #C3D9FF;
    margin-top:8px;
    padding:2px 8px 2px 8px;
    color: #FFFFFF;
}

/* Boton general  */
input.boton:hover {
    background-color:#4775BF;
    border:1px solid #C3D9FF;
    margin-top:8px;
    padding:2px 8px 2px 8px;
    color: #FFFFFF;
}


.centrado {
    margin:0 auto 0 auto;
    text-align:center;
}

.derecha {
    margin:0 auto 0 auto;
    text-align:right;
    padding-bottom: 12px;
}

.izquierda {
    margin:0 auto 0 auto;
    text-align:left;
    padding-bottom: 12px;
}

#colOne label {
    color: #444547;
    weight: bold;
}


div.searchbox {
   background:transparent url(/images/bluegray-gray-fade.png) repeat-x scroll left top;
   padding:10px;
   position:relative;
   margin:0 auto 0 auto;
   text-align:center;
}


