<%= error_messages_for 'usuarios_interese' %>

<!--[form:usuarios_interese]-->
<p><label for="usuarios_interese_id_usuario">Id usuario: </label><br/>
<%= text_field 'usuarios_interese', 'id_usuario', :class => "textfield"  %></p>

<p><label for="usuarios_interese_id_interes">Id interes: </label><br/>
<%= text_field 'usuarios_interese', 'id_interes', :class => "textfield"   %></p>
<!--[eoform:usuarios_interese]-->

