<h1>Seleccione la variable y la estación a consultar</h1>

<% form_tag :action => 'estacionvariable' do %>
  <p><label for="Variable">Variable:</label><br/>
    <%= collection_select("variable", "id", @variables, :id, :nombre_hc ) %>

  <p><label for="Estacion">Estacion:</label><br/>
    <%= collection_select("estacion", "id", @estaciones, :id, :nombre ) %>

  <p><%= submit_tag "Generar", options = {:class => "boton"} %></p>
<% end %>
