<h1>Por favor seleccione la variable y la estacion para generar su reporte.</h1>

<% form_tag :action => 'variable' do %>
  <p><label for="Variable">Variable:</label><br/>
    <%= collection_select("variable", "id", @variables, :id, :nombre_hc ) %>

  <p><%= submit_tag "Generar", options = {:class => "boton"} %></p>
<% end %>
