<%= error_messages_for 'unidad' %>

<!--[form:unidad]-->
<p><label for="unidad_nombre_unid">Nombre unid</label><br/>
<%= text_field 'unidad', 'nombre_unid'  %></p>

<p><label for="unidad_acronimo_unid">Acronimo unid</label><br/>
<%= text_field 'unidad', 'acronimo_unid'  %></p>
<!--[eoform:unidad]-->

