<% for column in Reportepentaho.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @reportepentaho.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @reportepentaho %> |
<%= link_to 'Back', :action => 'list' %>
