
<h1>Listado de mis v'inculos.</h1>

<div id="table">
    <%= render :partial => "listmisvinculos" %>  
</div>


<br/><br/><br/><br/>
<div class="derecha">
      <%= link_to image_tag("home.png",:border => 0 ) + 'Inicio', :controller =>'usuario', :action => 'welcome' %>
</div>
