<!--
 Aqui va todo lo genérico
-->

<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag "/javascripts/jscalendar-1.0/calendar-win2k-cold-1.css" %>
<%= javascript_include_tag "jscalendar-1.0/calendar.js" %>
<%= javascript_include_tag "jscalendar-1.0/lang/calendar-es.js" %>
<%= javascript_include_tag "jscalendar-1.0/calendar-setup.js" %>

<%=  @view  %>