<h1> Notificac&iacute;on.</h1>
<h4> Le fue enviado a su correo instrucciones para guiarle en el proceso de renovaci&oacute;n de su contrase&ntilde;a. El env&iacute;o puede demorar algunos minutos, le rogamos disculpe los inconvenientes.</h4>

<br/><br/><br/>
<div class="derecha">
    <%= link_to image_tag("back4.png",:border => 0 ) +'Regresar a opciones de clave', :action => 'claveTemporal' %>
    <%= link_to image_tag("home.png",:border => 0 ) + 'Ir a página principal', :action => 'welcome', :controller => 'usuario' %>
</div>