<h1>Detalles de la solicitud.</h1>
<br/>


<% for column in Solicitude.content_columns %>
  <p>
    <b><%= column.human_name %>:</b> <%=h @solicitude.send(column.name) %>
  </p>
<% end %>


<br/><br/>
<div class="derecha">
    <%= link_to image_tag("back4.png",:border => 0 ) + 'Regresar', :action => 'list' %>
</div>
