<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html>
  <head>
    <script type="text/javascript" 
src="http://www.google.com/jsapi?key=ABQIAAAAgNrToHULwQC8oTS56GEoLBQQ-KTGsisZrV72iQwHhX_lbVKdjRRxubTiOTTcWc2l3K5LtYRZYVAR6A"></script>
    <script type="text/javascript">
      google.load("maps", "2");
      google.load("search", "1");

    </script>

  </head>
  <body>

	<%= @result %>
  </body>

</html>