<h1>Detalles del requerimiento.</h1>
<br/>

<% for column in Requerimiento.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @requerimiento.send(column.name) %>
</p>
<% end %>

<br/><br/>
<div class="derecha">
    <%= link_to image_tag("back4.png",:border => 0 ) + 'Regresar', :action => 'list' %>
    <%= link_to image_tag("editar.png", :border => 0 ) + 'Editar', :action => 'edit', :id => @requerimiento %> 
</div>
