<ul class="completeField">
<% for estacion in @estacioneL%>
  <li><div align="center"><strong><%=h estacion.nombre.to_s.strip.chomp%></strong></div>
    <div align="center">
      <span class="informal"><%=h estacion.pais%></span>
    </div>
  </li>
<% end -%>
</ul>